
*{
    margin:0;
    padding: 0;
}


nav{
    background-color: #00008B;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
}

.logo{
height: 50px;
width: 50px;
position:relative ;
left: -250px;
}

body{
    background-color: #783333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.brc{
 width: 900px; 
   height: 550px;
}



.squad{
    position: relative;
    right: 650px;
 bottom: 530px;
}

.trophy{
    position: relative;
    left: 640px;
    bottom: 1040px;
    height: 450px;
}

.slogan{
position: relative;
bottom: 960px;
} 

