
nav{
  background-color: #00008B;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 150px;
  text-decoration: none;
}

.logo{
height: 50px;
width: 50px;
position:relative ;
left: -250px;
}











body{
  
  background-color:  #783333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}
.h11{
  color: #EAEA08 ;
}

.news-item1 {
  position: relative;
  width: 500px;
  height: 350px;
  left: -550px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  bottom: -100px;
}
.news-item3{
  position: relative;
  width: 500px;
  height: 350px;
  left: 550px;
  bottom: 880px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.news-item2 {
  position: relative;
  width: 500px;
  height: 350px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  bottom: 480px;
}

.news-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.news-item p {
  font-size: 16px;
}

.news-item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.news-item a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
main {
  padding: 20px 50px;
}


.flick{
  width: 200px;
  height: 150px;
}

.Xavi{

width: 200px;
height: 150px;
}

.transfer{
  position: relative;
  width: 250px;
  height: 100px;
  left: 30px;
  bottom: 20px;
}

.xavi1{

  width: 200px;
  height: 150px;
}
.camp{
  width: 190px;
  height: 150px;
}
.nou{
  width: 200px;
  height: 150px;
}

